section#Home {
    height: 100vh;
    color: #444;
}

.parallax {
    height: 100vh;
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.message {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: white;
    text-align: center;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.content {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    text-align: center;
    font-family: 'bitter', georgia, serif;
    font-size: 1.25em;
    color: white;
    z-index: 2;
}

.navbar-transparent {
    background-color: transparent;
    /* background: rgba(110, 110, 110, 0.7); */
    border-width: 0px;
    padding-top: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

nav.shrink {
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    padding-top: 10px;
}

.navbar-logo {
    font-size: 30px;
    color: white;
    /* padding-top: 10px; */
    padding-left: 10px;
}

a.navbar-logo {
    cursor: pointer;
    text-decoration: none;
}

a.navbar-logo:hover {
    cursor: pointer;
    color: white;
}

nav.shrink.navbar-logo {
    font-size: 20px;
    padding: 10px 0px 0px 80px;
    color: white;
}

nav.shrink>li>a {
    color: white;
    font-size: 16px;
    /* padding-top: 30px; */
}