body
{
	overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

  .headText{
    color: #c66;
    text-align: center;
    margin: 20px 0px;
    font-family: 'dosis',sans-serif;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
  }

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

.navbar-brand{
  color: #AA9A66 !important;
  padding-top: 8px;
}

.navbar-brand .label{
  margin-top: 0;
}

.navbar-brand:hover{
filter:alpha(opacity=100);
opacity:1;
}


.collapse .navbar-collapse a:hover, a:focus,a:active,a.active{
  color: orange;
}

.navbar-collapse .ul .li .a{
  text-align: center;
}

.nav>li>a{
  text-align: -webkit-center;
  font-size: 20px;
}


