section#Projects {
  height:100vh;
  color: #fff;
  background: #F9F4ED;
}

.project-content{
  margin-top: 30px;
}

#Projects .row{
  margin-top: 50px;
}

  #Projects .well{
    min-height: 350px;
    overflow: hidden;
  }

  #Projects .minesweeper .well{
    background-color: #5cb85c; /*bg-success*/
    border: none;
  }

   #Projects .showweathernow .well{
    background-color: #f0ad4e; /*bg-warning*/
    border: none;
  }

   #Projects .spiedpcgame .well{
    background-color: #d9534f; /*bg-danger*/
    border: none;
  }

  #Projects .project-title{
    text-align: center;
    font-size: 25px;
    font-weight: 10;
  }

  #Projects .tags{
    text-align: center;
  }

#Projects .tag{
    border:solid 1px grey;
  }

#Projects .project-description{
  padding-top: 20px;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  color:black;
}

#Projects .well{
  position: relative;
  text-align: center;
}

#Projects .bottom-section {
  position: absolute;
  bottom: 10px;
    display: inline-block;
}

#Projects .bottom-section .btn{
  border: 1px solid grey;
}